In [1]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import scale

In [2]:
data=pd.read_csv("C:/Users/Kaushik/Downloads/telecom_churn_data.csv", names=['State', 'Account Length', 'Area code', 'Phone', 'International Plan', 'VMail plan', 'VMail Message' ,'Day mins', 'Day calls', 'Day charge', 'Eve mins', 'Eve calls', 'Eve charge', ' Night mins', 'Night calls', 'Night charge', 'Intl mins', 'Intl calls', 'Intls charge', 'Custserv calls', 'Churn'])

In [3]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()

In [4]:
data.head()

  State  Account Length  Area code      Phone  ... Intl calls Intls charge  Custserv calls    Churn
0    KS             128        415   382-4657  ...          3         2.70               1   False.
1    OH             107        415   371-7191  ...          3         3.70               1   False.
2    NJ             137        415   358-1921  ...          5         3.29               0   False.
3    OH              84        408   375-9999  ...          7         1.78               2   False.
4    OK              75        415   330-6626  ...          3         2.73               3   False.

[5 rows x 21 columns]

In [5]:
data['Churn']=lc.fit_transform(data['Churn'])

In [6]:
data.head()

  State  Account Length  Area code      Phone  ... Intl calls Intls charge  Custserv calls  Churn
0    KS             128        415   382-4657  ...          3         2.70               1      0
1    OH             107        415   371-7191  ...          3         3.70               1      0
2    NJ             137        415   358-1921  ...          5         3.29               0      0
3    OH              84        408   375-9999  ...          7         1.78               2      0
4    OK              75        415   330-6626  ...          3         2.73               3      0

[5 rows x 21 columns]

In [7]:
data['ChurnFlag']=(data['Churn']==True).astype(int)

In [8]:
X=data.iloc[:,6:19]
y=data.iloc[:,21]

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.20, random_state=10)

In [10]:
model=XGBClassifier()

In [11]:
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [13]:
predict=model.predict(X_test)

In [14]:
accuracy_score(y_test, predict)

0.9112554112554112

In [15]:
confusion_matrix(y_test, predict)

array([[796,   3],
       [ 79,  46]], dtype=int64)

In [17]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95       799
           1       0.94      0.37      0.53       125

    accuracy                           0.91       924
   macro avg       0.92      0.68      0.74       924
weighted avg       0.91      0.91      0.89       924